
<div class="card my-2 text-center">
<div class="card-body py-1 rounded" id="player<%=playerID%>_text">
	<span id="hitler_<%=playerID%>" class="text-danger hitler d-none" data-toggle="tooltip" data-placement="top" title="Hitler">(H)</span>
	<span id="facist_<%=playerID%>" class="text-danger facist d-none" data-toggle="tooltip" data-placement="top" title="Facist">(F)</span>
	<%= playerName %>
	<span id="previousPresident_<%=playerID%>" class="badge badge-danger badge-pill ml-2 d-none previousPresident" data-toggle="tooltip" data-placement="top" title="President Last Election">P</span>
	<span id="previousChancellor_<%=playerID%>" class="badge badge-danger badge-pill ml-2 d-none previousChancellor" data-toggle="tooltip" data-placement="top" title="Chancellor Last Election">C</span>
	<span id="presidentElect_<%=playerID%>" class="badge badge-primary badge-pill ml-2 d-none presidentElect" data-toggle="tooltip" data-placement="top" title="President Elect">P</span>
	<span id="chancellorElect_<%=playerID%>" class="badge badge-primary badge-pill ml-2 d-none chancellorElect" data-toggle="tooltip" data-placement="top" title="Chancellor Elect">C</span></div>
</div>
